---
import PostCard from "@components/PostCard.astro";
import GlobalLayout from "@layouts/GlobalLayout.astro";
import GridLayout from "@layouts/GridLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<GlobalLayout>
  <section id="title" class="text-center">
    <h1>Blog posts</h1>
  </section>
  <br />
  <GridLayout>
    {
      posts.map((post) => (
        <PostCard
          postLink={"/blog/" + post.slug}
          imgSrc={post.data.image.url}
          imgAlt={post.data.image.alt}
          title={post.data.title}
          preview={post.data.description.substring(0, 250)}
          tags={post.data.tags}
        />
      ))
    }
  </GridLayout>
</GlobalLayout>
