---
import GlobalLayout from "@layouts/GlobalLayout.astro";
---

<GlobalLayout>
  <section>
    <h1>Talking topics page</h1>
    <h2>Most probably discussing technical topics here</h2>
  </section>
</GlobalLayout>
