---
import GlobalLayout from "@layouts/GlobalLayout.astro";
---

<GlobalLayout>
  <section id="title" class="text-center">
    <h1>Page is under construction 🚧</h1>
    <h2>Coming soon</h2>
  </section>
</GlobalLayout>
