---
import GlobalLayout from "@layouts/GlobalLayout.astro";
---

<GlobalLayout>
  <section id="title" class="text-center">
    <h1>Hello and welcome to Mischu's website!</h1>
  </section>
  <br />
  <section id="introduction">
    <h2>Some words about me</h2>
    <p class="indent-12">
      I'm a former Automotive Software Dev that switched to do backend
      development as of the end of 2023. I enjoy distributed systems, the web,
      tinkering with stuff etc. So I decided to start a blog and projects
      journal website to have everything accessible in one place. I do hope that
      you're going to enjoy the content here.
    </p>
    <p class="indent-12">Thanks for taking your time to visit my blog!</p>
  </section>
</GlobalLayout>
