---

---

<div
  class="min-w-full prose dark:prose-invert prose-slate lg:prose-xl prose-md
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl md:break-normal break-words"
>
  <slot />
</div>
