/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small screen */
:root {
  --underline-start-width: 4px;
  --underline-end-width: 2px;
  --underline-timing: 0.3s;
  --first-letter-size: 125%;
  --gradient-angle: -45deg;
}

/* large screen */
@media (min-width: 1024px) {
  :root {
    --underline-start-width: 6px;
    --underline-end-width: 3px;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --highlight-color: theme("colors.sky.700");
    --highlight-bg-color: theme("colors.sky.100");
    --text-color: theme("colors.slate.950");
    --underline-color: linear-gradient(transparent, transparent),
      linear-gradient(var(--highlight-color), var(--highlight-color));

    --astro-code-color-text: #4c4f69;
    --astro-code-color-background: #eff1f5;
    --astro-code-token-constant: #4c4f69;
    --astro-code-token-string: #40a02b;
    --astro-code-token-comment: #9ca0b0;
    --astro-code-token-keyword: #8839ef;
    --astro-code-token-parameter: #e64553;
    --astro-code-token-function: #1e66f5;
    --astro-code-token-string-expression: #40a02b;
    --astro-code-token-punctuation: #7c7f93;
    --astro-code-token-link: #7c7f93;
  }
  h1::first-letter,
  h2::first-letter,
  h3::first-letter,
  h4::first-letter,
  h5::first-letter,
  h6::first-letter {
    background: -webkit-linear-gradient(
      var(--gradient-angle),
      var(--highlight-color),
      var(--text-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: var(--highlight-color); */
    /* color: linear-gradient(var(--highlight-color), var(--text-color)); */
    font-size: var(--first-letter-size);
  }
  .custom-link::first-letter {
    color: var(--highlight-color);
  }
}

/* bg-slate-300 text-slate-950 dark:text-slate-50 dark:bg-slate-800 */

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --highlight-color: theme("colors.sky.300");
    --highlight-bg-color: theme("colors.sky.900");
    --text-color: theme("colors.slate.50");
    --underline-color: linear-gradient(transparent, transparent),
      linear-gradient(var(--highlight-color), var(--highlight-color));
    --astro-code-color-text: #cdd6f4;
    --astro-code-color-background: #1e1e2e;
    --astro-code-token-constant: #cdd6f4;
    --astro-code-token-string: #a6e3a1;
    --astro-code-token-comment: #6c7086;
    --astro-code-token-keyword: #cba6f7;
    --astro-code-token-parameter: #eba0ac;
    --astro-code-token-function: #89b4fa;
    --astro-code-token-string-expression: #a6e3a1;
    --astro-code-token-punctuation: #9399b2;
    --astro-code-token-link: #eba0ac;
  }
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
  h1::first-letter,
  h2::first-letter,
  h3::first-letter,
  h4::first-letter,
  h5::first-letter,
  h6::first-letter {
    background: -webkit-linear-gradient(
      var(--gradient-angle),
      var(--highlight-color),
      var(--text-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: var(--highlight-color); */
    /* color: linear-gradient(var(--highlight-color), var(--text-color)); */
    font-size: var(--first-letter-size);
  }
  .custom-link::first-letter {
    color: var(--highlight-color);
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: var(--underline-color);
  background-size: 0 var(--underline-start-width);
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size var(--underline-timing) ease-in-out;
}

.link-underline:hover {
  background-size: 100% var(--underline-end-width);
  background-position: 0 100%;
}

.content-highlight {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  pointer-events: none;
  transition: all 0.4s;
}

.card-highlight {
  pointer-events: auto;
  transform: scale(1);
  transition: all 0.4s;
}

.card-highlight:hover {
  opacity: 1;
  transform: scale(1.075);
  background-color: var(--highlight-bg-color);
}

.content-highlight:hover .card-highlight:not(:hover) {
  opacity: 0.75;
  transform: scale(0.95);
}
