/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small screen */
:root {
  --underline-start-width: 4px;
  --underline-end-width: 2px;
  --underline-timing: 0.3s;
  --first-letter-size: 125%;
}

/* large screen */
@media (min-width: 1024px) {
  :root {
    --underline-start-width: 6px;
    --underline-end-width: 3px;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --highlight-color: theme("colors.blue.700");
    --underline-color: linear-gradient(transparent, transparent),
      linear-gradient(var(--highlight-color), var(--highlight-color));
  }
  h1::first-letter,
  h2::first-letter,
  h3::first-letter,
  h4::first-letter,
  h5::first-letter,
  h6::first-letter {
    color: var(--highlight-color);
    font-size: var(--first-letter-size);
  }
  .custom-link::first-letter {
    color: var(--highlight-color);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --highlight-color: theme("colors.blue.700");
    --underline-color: linear-gradient(transparent, transparent),
      linear-gradient(var(--highlight-color), var(--highlight-color));
  }
  h1::first-letter,
  h2::first-letter,
  h3::first-letter,
  h4::first-letter,
  h5::first-letter,
  h6::first-letter {
    color: var(--highlight-color);
    font-size: var(--first-letter-size);
  }
  .custom-link::first-letter {
    color: var(--highlight-color);
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: var(--underline-color);
  background-size: 0 var(--underline-start-width);
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size var(--underline-timing) ease-in-out;
}

.link-underline:hover {
  background-size: 100% var(--underline-end-width);
  background-position: 0 100%;
}
