---
import "../base.css";
import Prose from "@components/Prose.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>xMischu's website</title>
  </head>
  <body
    class="bg-slate-300 text-slate-950 dark:text-slate-50 dark:bg-slate-800"
  >
    <header
      class="bg-slate-100 dark:bg-slate-600 lg:text-2xl md:text-xl lg:p-4 p-2"
    >
      <nav
        class="flex justify-between md:space-x-24 space-x-4 lg:w-3/4 md:w-4/5 w-full m-auto"
      >
        <a href="/" class="font-bold custom-link">xMischu</a>
        <a href="/blog" class="link-underline">Blog</a>
        <a href="/projects-lab" class="link-underline">Projects</a>
        <a href="/talking-topics" class="link-underline">Topics</a>
        <a href="https://github.com/misarescu" class="font-bold custom-link">
          <div class="md:block hidden">Github</div>
          <img
            id="github-image"
            src="github-mark-white.svg"
            alt="Github"
            width="25"
            class="md:hidden hidden dark:md:hidden dark:block"
          />
          <img
            id="github-image"
            src="github-mark.svg"
            alt="Github"
            width="25"
            class="md:hidden block dark:md:hidden dark:hidden"
          />
        </a>
      </nav>
    </header>
    <main
      class="flex flex-col items-center lg:w-3/4 md:w-4/5 w-full min-h-screen m-auto bg-slate-200 dark:bg-slate-700 lg:p-12 md:p-8 p-4"
    >
      <Prose>
        <slot />
      </Prose>
    </main>
  </body>
</html>
