---
import PostCard from "@components/PostCard.astro";
import GlobalLayout from "@layouts/GlobalLayout.astro";
import GridLayout from "@layouts/GridLayout.astro";
import codeImg from "@public/images/first-post/CodePicture.jpeg";
---

<GlobalLayout>
  <section id="title" class="text-center">
    <h1>Page is under construction 🚧</h1>
    <h2>Coming soon</h2>
  </section>
</GlobalLayout>
